/* BraInventory.css */
  html, body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fdf1f2;
    height: 100%;
    margin: 0;
  }

  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main-content {
    flex: 1;
  }
  
  .BraInventory-header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    height: 80px;
  }
  
  .navbar {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
  }
  
  .nav-link:hover {
    color: #fd88ee;
  }

  .bra-inventory-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
  }

  .search-section {
    text-align: center;
    margin: 20px 0;
  }

  .search-input {
    padding: 10px;
    width: 300px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
  }

  .search-input:focus {
    border-color: #fd88ee;
  }

  .search-options {
    margin-top: 10px;
  }

  .search-option {
    margin-right: 20px;
    font-size: 1rem;
  }

  .bra-form {
    background-color: #f9f9f9;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
    text-align: center;
  }
  
  .bra-form h2 {
    margin-bottom: 8px;
    font-size: 1rem;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .form-group {
    flex: 1;
    margin: 0 2px;
  }

  .form-input {
    padding: 4px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 0.75rem;
    width: 100%;
    box-sizing: border-box;
    outline:none;
  }
  
  .form-input:focus {
    border-color: #fd88ee;
  }
  
  .submit-button {
    background-color: #000000;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    font-size: 0.75rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #fd88ee;
  }

  .bra-list {
    list-style: none;
    padding: 0;
    margin-top: 16px;
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .bra-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16x;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3, transform 0.3s;
  }

  .bra-item:hover {
    background-color: #ffc4f7;
    transform: translateY(-2px);
  }

  .bra-details {
    display: flex;
    gap: 40px;
  }

  .bra-item h3 {
    font-size: 1rem;
    color: #333;
    margin: 0;
  }

  .bra-actions {
    display: flex;
    gap: 8px;
  }

  .bra-actions button {
    font-size: 0.8rem;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .bra-actions button:hover {
    background-color: #ff9ff2;
    color: white;
  }

  .BraInventory-footer {
    background-color: #ffc4f7;
    color: #000000;
    text-align: center;
    padding: 15px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }

  .footer-content {
    max-width: 1300px;
    margin: 0 auto;
  }

  .footer-content p {
    margin: 0;
  }

  .social-links a {
    margin: 0 10px;
    color: #000000;
    text-decoration: none;
  }

  .social-links a:hover {
    text-decoration: underline;
    color: #ffffff;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-content {
    background: #ffc4f7;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .inventory-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 5px;
    margin: 20px auto;
    display: block;
  }