/* EventInventory.css */
  html, body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fdf1f2;
    height: auto;
    overflow-y: auto;
  }

  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main-content {
    flex: 1;
    margin-top: 100px;
  }
  
  .EventInventory-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .logo {
    height: 80px;
  }
  
  .navbar {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
  }
  
  .nav-link:hover {
    color: #fd88ee;
  }

  .event-inventory-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
  }

  .search-section {
    text-align: center;
    margin: 20px 0;
  }

  .search-input {
    padding: 10px;
    width: 300px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
  }

  .search-input:focus {
    border-color: #fd88ee;
  }

  .search-options {
    margin-top: 10px;
  }

  .search-option {
    margin-right: 20px;
    font-size: 1rem;
  }

  .event-form {
    background-color: #f9f9f9;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 300px;
    text-align: center;
  }
  
  .event-form h2 {
    margin-bottom: 8px;
    font-size: 1rem;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .form-group {
    flex: 1;
    margin: 0 2px;
  }

  .form-input {
    padding: 4px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 0.75rem;
    width: 100%;
    box-sizing: border-box;
    outline:none;
  }
  
  .form-input:focus {
    border-color: #fd88ee;
  }
  
  .submit-button {
    background-color: #000000;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    font-size: 0.75rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #fd88ee;
  }

  .event-list {
    list-style: none;
    padding: 0;
    margin-top: 16px;
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .event-item {
    margin-bottom: 24px;
    padding: 16px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .event-item:hover {
    background-color: #ffc4f7;
    transform: translateY(-2px);
  }
  
  .event-title-container {
    display: flex;
    flex-direction: column;
  }
  
  .event-title-and-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .event-title {
    margin: 0;
  }
  
  .event-date {
    margin: 4px 0;
  }
  
  .event-title-container .form-input {
    margin-right: 8px;
  }
  
  .event-title-container button {
    margin-left: 8px;
  }
  
  .attendee-list {
    list-style: none;
    padding-left: 24px;
    margin: 8px 0 0;
  }
  
  .attendee-item {
    margin-bottom: 8px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.9rem;
  }
  
  .attendee-item:hover {
    background-color: #e99cc9;
  }
  
  .attendee-item p {
    margin: 4px 0;
  }
  
  .event-actions {
    display: flex;
  }
  
  .attendee-actions {
    display: flex;
    gap: 8px;
    margin-top: 8px;
  }
  
  button {
    font-size: 0.8rem;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ff9ff2;
    color: white;
  }

  .EventInventory-footer {
    background-color: #ffc4f7;
    color: #000000;
    text-align: center;
    padding: 15px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    width: 100vw;
    position: relative;
    margin-top: auto;
    left: 0;
    bottom: 0;
  }

  .footer-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .footer-content p {
    margin: 0;
  }

  .social-links a {
    margin: 0 10px;
    color: #000000;
    text-decoration: none;
  }

  .social-links a:hover {
    text-decoration: underline;
    color: #ffffff;
  }

  .done-checkbox {
    margin-left: 89%;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .clear-btn {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: 5px;
  }  

  .scrollable-datalist {
  max-height: 200px;
  overflow-y: auto;
} 