/* HomePage.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fdf1f2; /* Light pink background */
  }
  
  .homepage-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .homepage-header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .logo {
    height: 80px;
  }
  
  .navbar {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
  }
  
  .nav-link:hover {
    color: #fd88ee;
  }
  
  .content {
    flex: 1;
    padding: 40px;
    text-align: center;
    font-size: 1 rem;
    font-weight: bold;
    color: #000000;
    margin: 100px 0 20px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
  }
  
  ul {
    list-style-type: square;
    margin-top: 10px;
    color: #333;
  }
  
  .cta-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .cta-button {
    padding: 35px 45px;
    background-color: #ffbff4;
    color: #fff;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #fd88ee;
  }

  .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .features-section h2 {
    color: #c43f81;
  }

  .features-section ul{
    list-style: none;
    padding: 0;
  }

  .features-section li{
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 18px;
  }

  .features-section span{
    margin-right: 10px;
    font-size: 24px;
  }

  .homepage-footer {
    background-color: #ffc4f7 !important;
    color: #000000;
    text-align: center;
    padding: 15px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
  }

  .footer-content {
    width: 100%;
    box-sizing: border-box;
  }

  .footer-content p {
    margin: 0;
    color: #000000;
  }

  .social-links a {
    margin: 0 10px;
    color: #000000;
    text-decoration: none;
  }

  .social-links a:hover {
    text-decoration: underline;
    color: #ffffff;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-height: 70vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    align-items: center;

    box-sizing: border-box;
    min-width: 30vw;
    max-width: 80vw;
    width: auto;
  }

  .log-container {
    max-height: 55vh;
    width: 100%;
    overflow-y: auto;
    border: 1px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
  }

  .log-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .log-container li {
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000000;
  }
  
  strong {
    font-weight: bold;
  }

  .close-button {
    background: #fd88ee;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border-radius: 5px;

    margin-top: auto;
  }

  .close-button:hover {
    background: #bd6cb2;
  }  